{% extends "Layout.html" %}
{% block content%}
<div id="content" style="margin-top:2em">
    <div>
        <div>
            <form method="post" action="/index">  
             <button type="submit" class="btn btn-primary btn-lg ">Generate</button>
    </form>
 
        </div>

        <h3>
            <img src="{{ random_image1 }}">
            <img src="{{ random_image2 }}">
            <img src="{{ random_image3 }}">
        </h3>
    
    </div>
 </div>
{% endblock content %}